* {
  //reset
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

//color config
$body: hsl(185, 75%, 39%);
$primary-one: hsl(229, 23%, 23%);
$primary-two: hsl(227, 10%, 46%);
$secondary: hsl(0, 0%, 59%);
//font size:
$name-stat: 18px;

// - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
// - Weights: 400, 700

//Let the work begin

body {
  background-color: $body;
  min-height: 100vh;
  width: 100%;

  .p-one {
    position: fixed;
    top: -600px;
    left: -250px;
    z-index: -1;
  }

  .p-two {
    position: fixed;
    right: -270px;
    bottom: -600px;
    z-index: -1;
  }
}

main {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.container {
  position: relative;
  width: 330px;

  .profile-img {
    border-radius: 50%;
    position: absolute;
    top: 100px;
    right: 115px;
    border: 5px solid ghostwhite;
  }
}

.top {
  width: 100%;
  background-image: url(/images/bg-pattern-card.svg);
  height: 140px;
  border-radius: 10px 10px 0 0;
}

.bottom {
  padding: 5rem 0rem 1.6rem 0rem;
  background-color: ghostwhite;
  border-radius: 0 0 10px 10px;
  text-align: center;

  .name {
    font-size: 18px;
    margin-bottom: 0.5rem;
    color: $primary-one;
    
    

    span {
      font-size: 1.1rem;
      color: $primary-two;
      font-weight: 400;
      margin-left: 5px;
    }
  }

  .place {
    margin-bottom: 1.3rem;
    color: $primary-two;
    font-size: 0.9rem;
  }
}

article {
  display: flex;
  justify-content: space-around;
  margin: 1rem 2rem 0;

  .likes {
    h2 {
      font-size: 18px;
      font-weight: 700;
      color: $primary-one;
      margin: 5px;
    }

    p {
      font-size: 0.7rem;
      color: $primary-two;
    }
  }
}
hr {
  border-bottom: none;
  border-top: 1px solid $secondary;
  opacity: 0.4;
}

@media screen and (max-width: 800px) {
  body {
    .p-one {
      position: fixed;
      top: -700px;
      left: -700px;
      z-index: -1;
    }

    .p-two {
      position: fixed;
      right: -720px;
      bottom: -600px;
      z-index: -1;
    }
  }
}
